.bird {
  height: 2rem;
  width: auto;
  padding-right: .5rem;
}

.logoText {
  color: var(--black);
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

.flexContainerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--offwhite) !important;
  position: sticky;
  top: 0;
  z-index: 50;
  padding: .5rem;
  text-decoration:none;
}


.flexContainerRowRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.changeColorBtn {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  color: var(--darkgray) !important;
}

/* Xsmall Screens */
@media (max-width: 600px) {
  .flexContainerRowRight {
    margin-right: 0;
  }

  .changeColorBtn {
    font-size: 1.75rem;
    padding: 0.25rem;
    margin-right: .25rem;
  } 

  .bird {
  height: 1.5rem;
  }

  .logoText {
    font-size:.75rem;
  }
}
