.bird {
  height: 2rem;
  width: auto;
  padding-right: .5rem;
}

.logoText {
  color: var(--black);
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

.flexContainerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--offwhite) !important;
  position: sticky;
  top: 0;
  z-index: 50;
  padding: .5rem;
  text-decoration:none;
}


.flexContainerRowRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.changeColorBtn {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  color: var(--darkgray) !important;
}

.link {
  padding: 0.4rem 1rem .5rem 1rem; 
  border: 1px solid var(--black);
  margin-right: 2rem;
  border-radius: 20px;
  text-decoration: none;
  color: var(--black);
  font-size: .9rem;
}

.link:hover,
.link:focus,
.link:active {
  background-color: var(--yellow);
  transition-duration: 0.3s;
} 

/* Xsmall Screens */
@media (max-width: 600px) {
  .link {
    padding: 0.3rem 0.4rem;
    font-size: 0.75rem;
    margin-right: 0.25rem;
  }

  .flexContainerRowRight {
    margin-right: 0;
  }

  .changeColorBtn {
    font-size: 1.75rem;
    padding: 0.25rem;
    margin-right: .25rem;
  } 

  .bird {
  height: 1.5rem;
  }

  .logoText {
    font-size:.75rem;
  }
}
