.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.weekday {
  border-bottom: 1px solid black;
  font-weight: bold;
}

:global(.dark-bg) .month {
  color: var(--offwhite);
}

:global(.dark-bg) .year {
  color: var(--offwhite);
}

.month {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--black);
  font-family: var(--headingFont);
}

.year {
  color: var(--black);
  font-family: var(--headingFont);
  margin-bottom: 0.5rem;
}

.currentMonth {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  width: 7rem;
}

.dateContainer {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  color: black !important;
}

.progressIconsWrapper {
  display: flex;
}

.today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black) !important;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: var(--offwhite);
  border: 2px solid var(--black);
  border-radius: 50px;
  margin: .5rem 1rem 1rem 1rem; 
}

.calendarContainer {
  display: grid;
  width: 84vw;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  height: 68vh;
  border: 1px solid var(--black);
  border-radius: 10px;
  margin-top: 0.5rem;
  background-color: rgb(241, 240, 240);
}

.calendarContainer > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--headingFont);
}

.closebtn {
  height: 3rem;
  width: auto;
  padding: 0.75rem;
  margin-left: auto;
}

.closebtn:hover {
  cursor: pointer;
}

.weekday {
  background: rgba(0, 0, 0, 0.623);
  color: var(--offwhite);
}

#monday {
  border-top-left-radius: 9px;
}

.saturday {
  background: linear-gradient(
    to right,
    var(--yellow),
    var(--orange)
  ) !important;
  color: var(--offwhite);
}

.sunday {
  background: linear-gradient(
    to right,
    var(--orange),
    var(--purple)
  ) !important;
  color: var(--offwhite);
  border-top-right-radius: 9px;
}

.arrow {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
}

.arrow:hover {
  color: var(--blue);
  transition-property: color;
  transition-duration: 0.5s;
}

.heading {
  font-family: var(--headingFont);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black);
  padding: 0.4rem 0.8rem;
  margin-left: 2.5rem;
  border-radius: 10px;
}

.subheading {
  font-family: var(--headingFont);
  font-size: 1rem;
  color: var(--offwhite);
  background: rgba(24, 24, 24, 0.425);
  padding: 0.4rem 0.6rem;
  margin-left: 1rem;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 1.2rem 0.5rem 0.25rem 1.2rem;
}

.entryContainer{
  margin: .25rem 3.5rem;
  color: var(--black);
}

.headerContainer {
  font-family: var(--headingFont);
  width: 90%;
  font-weight: bold;
  margin: 0 1rem;
  font-size: 0.9rem;
  color: var(--black) !important;
}

.icon {
  height: 1.2rem;
  width: auto;
  cursor: pointer;
}

.entryIcons {
  height: 0.6rem;
  margin-right: .15rem;
  width: auto;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.mainWrapper {
  display: flex;
}

.dateContainer {
  height: 1.5rem;
}

.calendarIconsContainer {
  height: 1.5rem;
}

@media (max-width: 1200px) {
  .dateContainer {
    height: 1rem;
    margin-bottom: .1rem;
  }
  .calendarIconsContainer {
    height: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: .1rem;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    margin-bottom: 5rem;
  }

  .weekday {
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 0.75rem;
  }

  .heading {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
  }

  .subheading {
    font-size: 0.75rem;
    margin-left: 0.5rem;
    padding: 0.2rem 0.4rem;
  }

  .leftArrow {
    font-size: 2rem;
  }

  .today {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.25rem 0.1rem;
  }

  .calendarContainer {
    width: 100vw;
    border-radius: 0;
  }

  .sunday {
    border-top-right-radius: 0;
  }

  #monday {
    border-top-left-radius: 0;
  }

  .icon {
    height: 1rem;
    margin-bottom: 0.3rem;
  }

  .entryIcons {
    height: 0.5rem;
    margin-right: .1rem;
    width: auto;
  }
}

@media (max-width: 450px) {
  .weekday {
    font-size: 0.5rem;
  }
}
