:root {
  --black: #373a3b;
  --yellow: #ffd100;
  --lightgreen: #d0df00;
  --green: #97d700;
  --darkgreen: #6cc24a;
  --turquoise: #00b2a9;
  --blue: #00a9ce;
  --orange: #ff671f;
  --red: #f54029;
  --pink: #da29ac;
  --beige: #c6aa76;
  --purple: #aa82fe;
  --darkgray: #535353;
  --lightgray: #e0e0e0;
  --snow: #f1f1f1;
  --offwhite: #fbfbf8;
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --regularFont: "Lato", sans-serif;
  --headingFont: "Comfortaa", cursive;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--lightgray);
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark-bg {
  background-color: var(--black) !important;
  color: var(--offwhite);
  border-color: var(--offwhite);
}
