:global(.dark-bg) .headingContainer {
  border-bottom: 2px solid white;
}

:global(.dark-bg) .heading {
  color: var(--offwhite);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 94vh;
  margin-left: 12rem;
  padding-top: 10rem;
}

.headingContainer {
  width: 40%;
  border-bottom: 2px solid var(--black);
  margin-bottom: 2rem;
}

.heading {
  font-family: var(--headingFont);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--black);
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

.formGroupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 4rem;
}

.formGroupContainer input {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  width: 100%;
  color: var(--darkgray);
  border-radius: 10px;
  border: 1px solid var(--darkgray);
  margin-bottom: 0.5rem;
}

.formGroupContainer label {
  padding-left: 0.1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--headingFont);
  width: 100%;
  margin-bottom: 0.25rem;
  color: var(--black);
}

input:focus,
.btn:focus,
.modal:focus {
  outline: none !important;
}

.subTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  width: 70%;
}

.error {
  color: var(--red);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.modalText {
  color: #8d09f7;
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
}

.modal {
  background-color: white;
  z-index: 10000;
  padding: 2.5rem 2.5rem 2.5rem 3.5rem;
  border-radius: 2rem;
  border: 1px solid var(--black);
}

.overlay {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.315);
}

.modalMainContainer {
  display: flex;
  color: var(--black) !important;
}

.submitModalContainer {
  display: flex;
  align-items: center;
}

.closingButton {
  height: 2rem;
  width: auto;
}

.closingButton:hover {
  cursor: pointer;
  outline: none !important;
  border-radius: 50px;
  box-shadow: 0 0 3px #5e5e5e;
}

.closingButtonContainer {
  margin-left: 1rem;
}

.button {
  padding: 0.6rem 1.5rem;
  background-color: var(--yellow);
  border: 1px solid var(--black);
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  font-size: 0.9rem;
  font-weight: bold;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--lightyellow);
  transition-duration: 0.3s;
}

.inputWrapper {
  position: relative;
}

@media (max-width: 1200px) {
  .mainContainer {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .heading {
    font-size: 1.5rem;
  }
  .mainContainer {
    width: 60%;
    padding-top: 10rem;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    width: 80%;
    padding-top: 5rem;
  }

  .heading {
    font-size: 1.25rem;
  }

  .headingContainer {
    width: 40%;
    border-bottom: 0.09rem solid var(--black);
    margin-bottom: 1.5rem;
  }

  .formGroupContainer {
    height: 5.5rem;
  }

  .formGroupContainer label {
    font-size: 0.9rem;
  }

  .formGroupContainer input {
    padding: 0.4rem;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
  }

  .subTextContainer {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }
}
