:global(.dark-bg) .headingContainer {
  border-bottom: 2px solid var(--offwhite);
}

:global(.dark-bg) .heading {
  color: var(--offwhite);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 94vh;
  margin-left: 12rem;
  padding-top: 10rem;
}

.headingContainer {
  border-bottom: 2px solid var(--black);
  margin-bottom: 2rem;
}

.heading {
  font-family: var(--headingFont);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--black);
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.button {
  padding: 0.6rem 1.5rem;
  background-color: var(--yellow);
  border: 1px solid var(--black);
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  font-size: 0.9rem;
  font-weight: bold;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--offwhite);
  transition-duration: 0.3s;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .mainContainer {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .heading {
    font-size: 1.5rem;
  }
  .mainContainer {
    width: 60%;
    padding-top: 10rem;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    height: 85vh;
    width: 85%;
    padding-top: 4rem;
  }

  .heading {
    font-size: 1.25rem;
  }

  .headingContainer {
    width: 40%;
    border-bottom: 0.09rem solid var(--black);
    margin-bottom: 1.5rem;
  }

  .btnWrapper {
    margin-top: 0.75rem;
  }
}
