:global(.dark-bg) .formGroupContainer label {
  color: var(--offwhite);
}

.formGroupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 4rem;
}

.formGroupContainer input {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  width: 100%;
  color: var(--darkgray);
  border-radius: 10px;
  border: 1px solid var(--darkgray);
  margin-bottom: 0.5rem;
}

.formGroupContainer label {
  padding-left: 0.1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--headingFont);
  width: 100%;
  margin-bottom: 0.25rem;
  color: var(--black);
}

.inputWrapper {
  display: flex;
  position: relative;
}

.error {
  color: var(--red);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.iconWrapper {
  position: relative;
}

.eyeslash,
.eye {
  position: absolute;
  width: 2rem;
  height: 2.1rem;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 0.5rem;
  margin-left: 0.5rem;
  background-color: var(--snow);
  color: var(--black);
  border: 1px solid var(--black);
}

.eyeslash:hover,
.eye:hover {
  background: var(--dirtysnow);
}

@media (max-width: 600px) {
  .formGroupContainer {
    height: 4.5rem;
  }

  .formGroupContainer label {
    font-size: 0.9rem;
  }

  .formGroupContainer input {
    padding: 0.4rem;
    font-size: 0.8rem;
  }

  .eye,
  .eyeslash {
    height: 1.85rem;
  }
}
