.mainContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 94vh;
  margin-left: 12rem;
  padding-top: 10rem;
}

.headingContainer {
  width: 40%;
  border-bottom: 2px solid var(--black);
  margin-bottom: 2rem;
}

:global(.dark-bg) .headingContainer {
  border-bottom: 2px solid white;
}

:global(.dark-bg) .heading {
  color: var(--offwhite);
}

:global(.dark-bg) .formGroupContainer label {
  color: var(--offwhite);
}

.heading {
  font-family: var(--headingFont);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--black);
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.formGroupContainer {
  display: flex;
  flex-direction: column;
}

.formGroupContainer input {
  padding: .5rem 1rem;
  font-size: 1rem;
  font-family: var(--headingFont);
  width: 100%;
  color: var(--black);
  border-radius: 10px;
  border: 1px solid var(--darkgray);
  margin-bottom: .5rem;
}

.formGroupContainer label {
  padding-left:.1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  margin-bottom: .5rem;
  color: var(--black);
}

input:focus {
  outline: none !important;
}

.link {
  padding: .6rem 1rem .6rem 1rem; 
  background-color: var(--yellow);
  border-bottom: 1px solid var(--black);
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  font-size: .9rem;
  margin-top: 1rem;
}

.link:hover,
.link:focus,
.link:active {
  background-color: var(--offwhite);
  transition-duration: 0.3s;
} 

.flexContainerRow {
  display:flex;
  margin-bottom: 2rem;
}

.dot {
  width:1rem;
  height:1rem;
  margin-right: 1rem;
  border-radius:50px;
}

.yellow {
  background-color: var(--yellow);
}

.orange {
  background-color: var(--orange);
}

.red {
  background-color: var(--red);
}

.green {
  background-color: var(--darkgreen);
}

.blue {
  background-color: var(--blue);
}

.purple {
  background-color: var(--purple);
}

@media (max-width: 1200px) {
  .mainContainer {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .heading {
    font-size: 1.5rem;
  }
  .mainContainer {
    width: 60%;
    padding-top: 10rem;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .mainContainer {
    width: 80%;
    padding-top: 8rem;
  }

  .heading {
    font-size: 1.25rem;
  }

  .headingContainer {
    width: 40%;
    border-bottom: 0.09rem solid var(--black);
    margin-bottom: 1.5rem;
  }

  .formGroupContainer label {
    font-size: 0.9rem;
  }

  .formGroupContainer input {
    padding: 0.4rem;
    font-size: 0.8rem;
  }
}
