.formGroupContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 95%;
}

.formGroupContainer input {
  padding: 0.5rem 0.5rem;
  padding-bottom: 0.4rem;
  font-size: 0.8rem;
  font-family: var(--headingFont);
  width: 100%;
  color: var(--black);
  border-radius: 4px;
  border: 1px solid var(--lightgray);
  box-shadow: inset 0px 0px 2px var(--lightgray);
  margin-bottom: 0.75rem;
}

.formGroupContainer label {
  font-family: var(--regularFont);
  font-weight: 700;
  margin: 0 1rem;
  margin-right: 0.5rem;
  padding-left: 0.1rem;
  font-size: 1.25rem;
  color: var(--turquoise);
}

@media (max-width: 600px) {
  .formGroupContainer input {
    padding: 0.4rem 0.75rem;
  }
}

@media (max-width: 325px) {
  .formGroupContainer input {
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }
}
