.mainContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 94vh;
  margin-left: 12rem;
  padding-top: 10rem;
}

.modalMainContainer {
  display: flex;
  color: var(--black) !important;
}

.submitModalContainer {
  display: flex;
  align-items: center;
}

.closingButton {
  height: 1.5rem;
  width: auto;
}

.closingButton:hover {
  cursor: pointer;
  outline: none !important;
  border-radius: 50px;
  box-shadow: 0 0 3px #5e5e5e;
}

.headingContainer {
  border-bottom: 2px solid var(--black);
  margin-bottom: 2rem;
}

.modalHeadingContainer {
  width: 50%;
  border-bottom: 1.5px solid var(--black);
  margin-bottom: 2rem;
}

:global(.dark-bg) .headingContainer {
  border-bottom: 2px solid var(--offwhite);
}

:global(.dark-bg) .heading {
  color: var(--offwhite);
}

:global(.dark-bg) .formGroupContainer label {
  color: var(--offwhite);
}

:global(.dark-bg) .resetPasswordLink {
  color: yellow;
}

.heading {
  font-family: var(--headingFont);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--black);
}

.modalHeading {
  color: var(--black) !important;
  font-family: var(--headingFont);
  font-weight: bold;
  font-size: 1.5 rem;
  margin-bottom: 0.5rem;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.resetButton {
  margin-top: 1.5rem;
}

.formGroupContainer {
  display: flex;
  flex-direction: column;
}

.formGroupContainer input {
  padding: .5rem 1rem;
  font-size: 1rem;
  font-family: var(--headingFont);
  width: 100%;
  color: var(--black);
  border-radius: 10px;
  border: 1px solid var(--darkgray);
  margin-bottom: .5rem;
}

.formGroupContainer label {
  padding-left:.1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  margin-bottom: .5rem;
  color: var(--black);
}

.resetPasswordLink {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  color: var(--darkgray);
  text-decoration:underline;
  font-size: .8rem;
}

.resetPasswordLink:hover {
  cursor:pointer;
}

.modalText {
  color: var(--black) !important;
  font-size: .9rem;
  margin-bottom: 1.25rem;
}

.modal {
  background-color: var(--offwhite);
  z-index: 10000;
  padding: 2rem 1.5rem 2rem 3rem;
  border-radius: 2rem;
  border: 1px solid black;
}

.overlay {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.315);
}

.link {
  padding: .6rem 1rem .6rem 1rem; 
  background-color: var(--yellow);
  border-bottom: 1px solid var(--black);
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  font-size: .9rem;
  margin-top: 1rem;
}

.link:hover,
.link:focus,
.link:active {
  background-color: var(--offwhite);
  transition-duration: 0.3s;
} 

.flexContainerRow {
  display:flex;
  margin-bottom: 2rem;
}

.dot {
  width:1rem;
  height:1rem;
  margin-right: 1rem;
  border-radius:50px;
}

.yellow {
  background-color: var(--yellow);
}

.orange {
  background-color: var(--orange);
}

.red {
  background-color: var(--red);
}

.green {
  background-color: var(--darkgreen);
}

.blue {
  background-color: var(--blue);
}

.purple {
  background-color: var(--purple);
}

@media (max-width: 1200px) {
  .mainContainer {
    width: 50%;
    margin: auto;
  }
}


@media (max-width: 992px) {
  .heading {
    font-size: 1.5rem;
  }
  .mainContainer {
    width: 60%;
    padding-top: 10rem;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .link {
    padding: .5rem .8rem; 
  }

  .modal {
    padding: 2rem 1rem 1.5rem 2rem;
  }

  .mainContainer {
    width: 80%;
    padding-top: 8rem;
  }

  .heading {
    font-size: 1.25rem;
  }

  .headingContainer {
    width: 40%;
    border-bottom: 0.09rem solid var(--black);
    margin-bottom: 1.5rem;
  }

  .formGroupContainer label {
    font-size: 0.9rem;
  }

  .formGroupContainer input {
    padding: 0.4rem;
    font-size: 0.8rem;
  }

  .resetPasswordLink {
    font-size: 0.8rem;
  }
}
