.mainContainer {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
  align-items: space-around;
  position: relative;
}

.mainWrapper {
  padding: 1rem;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexContainerRow {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}

.box {
  width: 30%;
  height: 30vh;
  background-color: var(--offwhite);
  border-radius: 20px;
}

#yellow {
  border: 5px solid var(--yellow);
}

#orange {
  border: 5px solid var(--orange);
}

#red {
  border: 5px solid var(--red);
}

#darkgreen {
  border: 5px solid var(--darkgreen);
}

#blue {
  border: 5px solid var(--blue);
}

#purple {
  border: 5px solid var(--purple);
}

.headerContainer {
  font-family: var(--regularFont);
  width: 90%;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--darkgray) !important;
  text-transform: capitalize;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 0.3rem 0.5rem 0 1.5rem;
  height: 4.5rem;
}

.icon {
  height: 1.2rem;
  width: auto;
  cursor: pointer;
}

.link {
  padding: 0.6rem 1rem 0.6rem 1rem;
  background-color: var(--yellow);
  border-bottom: 1px solid var(--black);
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  color: var(--black);
  font-size: 0.9rem;
  margin-top: 1rem;
}

.link:hover,
.link:focus,
.link:active {
  background-color: var(--offwhite);
  transition-duration: 0.3s;
}

.textarea {
  display: flex;
  align-self: center;
  resize: none;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  font-family: var(--headingFont);
  width: 100%;
  color: var(--black);
  border-radius: 7px;
  border: 1px solid var(--darkgray);
  margin-bottom: 0.75rem;
}

.textarea,
.textarea:hover,
.textarea:active {
  outline: none;
}

.buttonContainer {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

.warningText {
  color: var(--black);
  margin-right: 1rem;
  font-weight: 600;
}

.footer {
  color: var(--black) !important;
  position: fixed;
  bottom: 0;
  padding: 1rem 3rem;
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--offwhite);
}

.footerAuthor {
  font-style: italic;
}

@media (max-width: 1200px) {
  .mainContainer {
    height: 100vh;
  }

  .flexContainerRow {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0;
  }

  .box {
    width: 90%;
    height: 15rem;
    margin-bottom: 1rem;
  }

  .buttonContainer {
    margin-top: 0.5rem;
    margin-bottom: 8rem;
  }

  #yellow {
    margin-top: 25rem;
  }

  .footer {
    color: var(--black) !important;
    position: fixed;
    bottom: 0;
    padding: 1rem 2rem;
  }
}

@media (max-width: 800px) {
  #yellow {
    margin-top: 45rem;
  }
}

@media (max-width: 600px) {
  #yellow {
    margin-top: 50rem;
  }

  .box {
    height: auto;
  }

  .buttonContainer {
    margin-bottom: 10rem;
  }

  .headerContainer {
    width: 95%;
    font-size: 0.9rem;
  }

  .wrapper {
    height: 3.75rem;
  }

  .warningText {
    font-size: 0.8rem;
  }

  .mainWrapper {
    padding: 0;
  }
}

@media (max-width: 400px) {
  #yellow {
    margin-top: 50rem;
  }

  .buttonContainer {
    margin-bottom: 10rem;
  }

  .headerContainer {
    width: 100%;
    font-size: 0.85rem;
  }

  .wrapper {
    height: 3rem;
  }

  .warningText {
    font-size: 0.8rem;
  }
}

@media (max-width: 380px) {
  #yellow {
    margin-top: 50rem;
  }
}

@media (max-width: 325px) {
  #yellow {
    margin-top: 45rem;
  }

  .headerContainer {
    width: 100%;
    font-size: 0.65rem;
  }
}
