.mainContainer {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
  align-items: space-around;
  position: relative;
}

:global(.dark-bg) .flexContainerRow {
  background-color: var(--black);
}

.mainWrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexContainerRow {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}

.box {
  width: 30%;
  height: 30vh;
  padding: 0.2rem;
  position: relative;
  margin-top: 1rem;
}

.cardBackground {
  opacity: 0.8;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: rotate(-4deg) skewX(4deg);
  box-shadow: var(--shadow);
  border-radius: 20px;
}

#yellow {
  background: var(--yellow);
}

#orange {
  background: var(--orange);
}

#red {
  background: var(--red);
}

#darkgreen {
  background: var(--darkgreen);
}

#blue {
  background: var(--blue);
}

#purple {
  background: var(--purple);
}

.headerContainer {
  font-family: var(--regularFont);
  width: 90%;
  margin: 0 1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--darkgray) !important;
  text-transform: capitalize;
}

.sectionContainer {
  padding: 1rem 0;
  position: relative;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-shadow: var(--shadow);
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 0.3rem 0.5rem 1rem 1.5rem;
}

.icon {
  height: 1.2rem;
  width: auto;
  cursor: pointer;
}

.link {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1rem 0.6rem 1rem;
  background-color: var(--yellow);
  border: 1px solid var(--black);
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  color: var(--black);
  font-size: 0.9rem;
  box-shadow: var(--shadow);
  transition-duration: 0.3s;
  transition-property: transform, background-color;
}

.link:hover,
.link:focus,
.link:active {
  background-color: var(--offwhite);
  outline: none;
}

.link:active {
  box-shadow: none;
  transform: translate(-1px, 1px);
}

.textarea {
  display: flex;
  align-self: center;
  resize: none;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  font-family: var(--headingFont);
  width: 100%;
  color: var(--black);
  border-radius: 4px;
  border: 1px solid var(--lightgray);
  box-shadow: inset 0px 0px 3px var(--lightgray);
  margin-bottom: 0.75rem;
}

.textarea,
.textarea:hover,
.textarea:active {
  outline: none;
}

.buttonContainer {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.warningText {
  color: var(--black);
  margin-right: 1rem;
  font-weight: 600;
}

.footer {
  color: var(--black) !important;
  position: fixed;
  bottom: 0;
  padding: 1rem 3rem;
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--offwhite);
}

.footerAuthor {
  font-style: italic;
}

@media (max-width: 1200px) {
  .mainContainer {
    height: 100vh;
  }

  .flexContainerRow {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0;
  }

  .box {
    width: 90%;
    height: 15rem;
    margin-bottom: 1rem;
  }

  .buttonContainer {
    margin-top: 0.5rem;
    margin-bottom: 8rem;
  }

  .footer {
    padding: 1rem 2rem;
  }
}

@media (max-width: 600px) {
  .box {
    height: auto;
  }

  .buttonContainer {
    margin-bottom: 10rem;
  }

  .headerContainer {
    width: 95%;
    font-size: 0.9rem;
  }

  .wrapper {
    height: 3.75rem;
  }

  .warningText {
    font-size: 0.8rem;
  }

  .mainWrapper {
    padding: 0;
  }

  .footer {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

@media (max-width: 400px) {
  .buttonContainer {
    margin-bottom: 10rem;
  }

  .headerContainer {
    width: 100%;
    font-size: 0.85rem;
  }

  .wrapper {
    height: 3rem;
  }

  .warningText {
    font-size: 0.8rem;
  }
}

@media (max-width: 325px) {
  .headerContainer {
    width: 100%;
    font-size: 0.65rem;
  }
}
