.formGroupContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 95%;
}

.formGroupContainer label {
  font-family: var(--regularFont);
  font-weight: 700;
  margin: 0 1rem;
}
